.video{
    position: relative;
    background-color: white;
    width: 100vw;
    scroll-snap-align: start;
    height: 100vh;

}

.video_player{
    object-fit: fill;
    width: 100vw;
    height: 100vh;
}

