h1, h2, h3, h4 {
    margin: 8px 0;
} 

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 200px;
}

.post-square{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.square{
    height: 315px;
    width: 560px;
    background-color: orange;
}